<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Sitecore.Support.Analytics.Pipelines.CreateVisits.XForwardedFor,Sitecore.Support.68213"
                   patch:instead="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.XForwardedFor,Sitecore.Analytics']">
          <HeaderIpIndex>0</HeaderIpIndex>
        </processor>
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>